<div class="container py-4">
    

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Anna  Architectural firm</h1>
        <p class="col-md-8 fs-4">IS A PROGRESSIVE ARCHITECTURE, PLANNING & INTERIOR DESIGN FIRM..</p>
        <button class="btn btn-primary btn-lg" type="button">Compare quotes from top-rated Architects.</button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Client Management Application </h2>
          <p> projects  tasks, client meetings, and client portfolio</p>
          <button class="btn btn-outline-light" type="button">Get Started</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Meeting Preview</h2>
          <p>We approach all projects with a spirit of enthusiasm and exploration. Our collaborative approach leverages our team’s collective talents, perspectives and contributions to maximize creative outcomes.</p>
          <button class="btn btn-outline-secondary" type="button">Get Started</button>
        </div>
      </div>
    </div>

    
  </div>
