<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="#">Clients Dashboard --></a>
      <button class="navbar-toggler" routerLink="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/client-create">Add Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/a">Manage Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/meeting">View Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contactus">UpDate Client</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>

            
          </form>
        
      </div>
    </div>
  </nav>
  <div class="p-5 mb-2 bg-light rounded-3 text-center">
    <div class="container-fluid ">
      <h1 class="display-5 fw-bold">Anna  Architectural firm</h1>
      <h1 class="display-5 fw-bold">Register New Client</h1>
      <p class=" fs-4 text-center">Chosse Option By Client DashBoard</p>
    </div>
